/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AKAI Frontend Task - CSS

    Spróbuj zmodyfikować poniższy plik ze stylami tak, by upiększyć formularz na stronie.
    Jako inspiracji możesz skorzystać z szablonu znajdującego się w pliku img/layout.png
    Nie wymagamy, by wykonać identyczny layout. Liczy się kreatywność.

    Przy wykonywaniu zadania można zmienić strukturę pliku index.html.
    Pamiętaj, że w takim wypadku będzie trzeba zadbać o dostosowanie odpowiednich selektorów.

    Jeśli korzystasz z preprocessorów takich jak Sass/Less, również możesz się tym pochwalić.

    Powodzenia!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/*
Przeanalizuj składnię pliku .css.
Przy stylowaniu na najpierw podajemy, co chcemy ostylować, a następnie jakie atrybuty chcemy zmienić.
np. poniższy selektor (body) oznacza, że modyfikujemy kontent body w dokumencie html.
Żeby mieć pewność o czym mowa, zajrzyj w plik index.html, i znajdź tag <body>.
*/
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#logo-img
{
  width: 150px;
  margin: 15px auto;
}

#task-frontend {
  border-radius: 45px;
  font-size: 32px;
	max-width: 850px;
  margin: 25px auto;
	text-align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255, 0.7);
}

#task-frontend .basic-title {
  color: #2b3a78;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

#task-frontend .form-line {
  border: 1px solid blue;
}

#checkboxes label
{
  cursor: pointer;
  color: red;
  text-transform: uppercase;
}

#task-frontend form>label {
  text-transform: uppercase;
	margin: 10px auto 0 auto;
  cursor: pointer;
}

#task-frontend input[type="text"], #task-frontend input[type="email"] {
  display: block;
  margin: 25px auto;
  border: 1px solid black;
  width: 450px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  text-indent: 30px;
}

#task-frontend span {
  display: block;
}

#header-checkboxes
{
  margin-top: 50px;
  margin-bottom: 15px;
}

#task-frontend input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  text-decoration: line-through;
}

#task-frontend input[type="checkbox"]:checked + label {
color: green;
}

#task-frontend input[type="submit"] {
	color: green;
	margin: 25px auto;
	width: 250px;
	height: 75px;
	text-align: center;
  border-radius: 30px;
  border: 2px solid black;
  color: black;
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 30px;
  transition-duration: 0.5s;
}

#task-frontend input[type="submit"]:hover {
  font-size: 35px;
  cursor: pointer;
  width: 240px;
}
